/* Universal styling */

html {

}

a {
  text-decoration: none;
  color: inherit;
}


/* Nav bar styling */

/* Nav container */

.nav {
  display: inline-flex;
  align-items: center;
  width: 1200px;
  height: 80px;
  border-bottom: 1px solid black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}


/* Nav bar logo section */

.logo {
  width: 20%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo img {
  padding-left: 0.5em;
}

.logo p {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 0.5em;
  color: MediumAquamarine
}


/* Nav bar links section */

.links {
  display: inline-flex;
  width: 80%;
  height: 80px;
  justify-content: flex-end;
  align-items: center;
}

.textlink {
  display: inline-block;
  padding: 5px 10px;
  line-height: 50px;
  height: 50px;
  color: black;
  font-weight: bold;
  text-decoration: underline;
}
