html {

}

a {
  text-decoration: none;
  color: inherit;
}

.nav {
  display: inline-flex;
  align-items: center;
  width: 1200px;
  height: 80px;
  border-bottom: 1px solid black;
}

.logo {
  width: 20%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid black; */
}

.logo img {
  /* border: 1px solid red; */
  padding-left: 0.5em;
}

.logo p {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 0.5em;
  /* border: 1px solid red; */
}

.links {
  display: inline-flex;
  width: 80%;
  height: 80px;
  justify-content: flex-end;
  align-items: center;
  /* border: 1px solid black; */
}

.textlink {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  height: 50px;
  /* border: 1px solid red; */
  color: black;
  font-weight: bold;
}
